{% extends "base.html" %}

{% block content %}

<section id="projetos">
    <div class="container pb-5 pt-5">

        <h2 class="pb-4">Projetos</h2>
        
        <div id="carouselProjetos" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselProjetos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <!-- <button type="button" data-bs-target="#carouselProjetos" data-bs-slide-to="1" aria-label="Slide 2"></button>      -->         
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                
                <div class="row row-cols-1 row-cols-md-4 g-3">

                    <div class="col">
                        <div class="card">
                            <img src="../../static/img/01-logo_octoplus_bank_transparente.png" class="card-img-top" alt="API - Octoplus Bank">
                            <div class="card-body">
                                <h5 class="card-title">API - Octoplus Bank</h5>
                                <p class="card-text">Projeto desenvolvido no 1º Semestre do curso de Desenvolvimento de Software de Multiplasplataformas, utilizando as tecnologias Python, Flask, Mysql, HTML, CSS, Bootstrap e Javascript.</p>
                                <div class="d-flex justify-content-center">
                                    <a href="https://github.com/Octoplus-Group/OctoplusBank" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img src="../../static/img/01 - PROEF_SDTOCA.png" class="card-img-top" alt="API - Octoplus Bank">
                                <div class="card-body">
                                    <h5 class="card-title">Proef Sai da Toca</h5>
                                    <p class="card-text">Projeto desenvolvido entre os anos de 2020 e 2021 com o objetivo de estimular a prática de atividade física durante o período de Isolamento devido a Covid-19.</p>
                                        <div class="d-flex justify-content-center">
                                        <a href="https://youtube.com/playlist?list=PL-BzYoF5gKrP0z6Bb8jaMJ2KwhSZmALaO" target="_blank" class="btn btn-outline-primary"><i class="bi bi-youtube"></i></a>
                                        </div>
                                </div>
                        </div>
                    </div>
                    
                        <div class="col">
                                <div class="card">
                                    <img src="../../static/img/01 - PROEF_ENTREVISTA.png" class="card-img-top" alt="API - Octoplus Bank">
                                        <div class="card-body">
                                            <h5 class="card-title">Proef Entrevista</h5>
                                            <p class="card-text">Projeto desenvolvido no ano de 2020 com o objetivo de entretenimento durante o período de Isolamento devido a Covid-19.</p>
                                                <div class="d-flex justify-content-center">
                                                <a href="https://youtube.com/playlist?list=PL-BzYoF5gKrP7inJ9WNtFAL9avXd6gw7A" target="_blank" class="btn btn-outline-primary"><i class="bi bi-youtube"></i></a>
                                                </div>
                                        </div>
                                </div>
                        </div> 
              </div>
            
        

            </div>
<!--             <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjetos" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselProjetos" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> -->


    </div>
</section>

{% endblock %}